<footer class="footer">
  <div class="container">
    <div class="columns content">
      <div class="column is-one-third">
        <p>Copyright Brennen Denomme 2017</p>
      </div>
      <div class="column is-one-third">
      </div>
      <div class="column is-one-third">
        <h4>Social Links</h4>
        <p class="social-links">
          <span class="icon"><i class="fa fa-github"></i></span>
          <a href="http://github.com/bkd705" alt="github link">bkd705</a>
          <span class="icon"><i class="fa fa-linkedin"></i></span>
          <a href="http://linkedin.com/in/bkd705" alt="linkedin link">bkd705</a>
          <span class="icon"><i class="fa fa-twitter"></i></span>
          <a href="http://twitter.com/bkd705" alt="twitter link">@bkd705</a>
        </p>
      </div>
    </div>
  </div>
</footer>