<footer class="footer post-footer">
  <div class="container content">
    {% if site.posts.size > 0 %}
      <h4>Recent Posts</h4>
      <div class="columns">
        {% for post in site.posts limit:4 %}
          <div class="column is-one-quarter content">
            <figure class="image is-2by1">
              <img src="{{ post.thumb }}" alt="{{ post.title }}">
            </figure>
            <h3><a class="is-medium" href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt }}</p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>There are no recent posts to display!</p>
    {% endif %}
  </div>
</footer>