#hero {
  height: 100vh;
  background: url('hero.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:right;
}
  #hero h1 {
    margin-top: 30vh;
  }

.col-centered {
  float: none;
  margin: 13% auto;
  text-align: center;
}

.about {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
}
  hr.divider {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
  }

.dev-icon {
  font-size: 64px;
}

#skills {
  background-color: #df691a;
}

.skills {
  text-align: center;
}
  .skills h2 {
    margin-top: 10%;
    margin-bottom: 15%;
  }

.second-row {
  margin-top: 64px;
  margin-bottom: 7.5%;
}

.project {
  min-width: 33.33%;
  margin: 0;
  padding: 0;
  clear: both;
  overflow: auto;
}

.projects {
  margin-top: -30px;
}

@media only screen and (max-width: 480px) {
    .project {
      min-width: 100%;
    }
	}
