/* Global Styles */

body, html {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Hind', sans-serif;
  color: #1e1e1f;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding-top: 105vh;
}

.left-container {
  width: 40%;
  float: left;
  position: fixed;
}

.right-container {
  width: 60%;
  margin-left: 40%;
}

/* End Global Styles */

/* Nav Styles */

  .navigation {
    background: #017AF5;
    height: 100vh;
  }

/* End Nav Styles */

/* Portfolio Styles */

.portfolio {
  max-height: 100vh;
  float: left;
  overflow: hidden;
}

.grid {
  font-size: 0;
}

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item img {
  min-width: 100%;
  max-width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* End Portfolio Styles */

/* Info Styles */

.info-title {
  font-size: 1.5em;
  line-height: 0;
}

.info-subtitle {
  font-size: 1.2em;

}

/* End Info Styles */

/* Animations */

@keyframes logoSlide {
  0% {transform: scale(0); opacity: 0;}
  50% {transform: scale(0); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}

@keyframes headerFadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
