<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="site">
    <div class="site__content">
      <section class="hero is-danger is-medium is-bold">
        <div class="hero-head">
          {% include header.html %}
        </div>

        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              {{ site.title }}
            </h1>
            <h2 class="subtitle">
              notes and stuff
            </h2>
          </div>
        </div>
      </section>

      <main>
        <div class="container">
          {% if site.posts.size > 0 %}
          <div class="columns">
          {% for post in site.posts %}
            {% if post.categories contains 'blog' %}
              <div class="column is-one-third content">
                {% if post.thumb.length > 0 %}
                  <figure class="image is-2by1 max-height">
                    <img src="{{ post.thumb }}" alt="{{ post.title }}">
                  </figure>
                {% else %}
                  
                {% endif %}
                <h2><a class="is-medium" href="{{ post.url }}">{{ post.title }}</a></h2>
                <p>{{ post.excerpt }}</p>
              </div>
              {% endif %}
            {% endfor %}
            </div>
          {% else %}
            <p>There are no posts available right. Come back soon!</p>
          {% endif %}
        </div>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
